
.isActive {
    font-weight: bold;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 37vw;

    border: 1px #333333 solid;
    background: #222222;
}

.blockUsers{ 
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.userInfo {
    display: flex;
    width: 200px;
    padding-bottom: 40px;
}

.userBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: white;
    display: flex;
    justify-content: center;
}

.status {
    display: flex;
    justify-content: center;
}

.users img {
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.mainContent {
    height: 100vh;
}

.number {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px #333333 solid;
    width: 37vw;
    height: 4vh;
    margin-bottom: 10px;
    background: #222222;
    
}

.prevBtn {
    margin-right: 5px;
}

.numberFooter {
    margin-top: 10px;
}

.number span {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 5px;
    width: 30px;
    background: #656565;
}

.number span:hover {
    cursor: pointer;
}
