.app-wrapper {
    height: 100vh;

    background-color: #141414;
}

.mainContent {
    display: grid;
    grid-template-areas: "n c";
    grid-template-columns: 2fr 10fr;
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;

    background: #141414;
}

.header {
    width: 100%;

    background-color: #222222;
}


.navbar {
    grid-area: n;
}

.mainBlock {
    grid-area: c;
}

.app-wrapper-content {
    padding-top: 10px;

    border: 1px solid #343639;
    border-radius: 4px;
    background-color: #141414;
}

h1,
a,
span,
h2,
p {
    color: #e1e3e6;
}

input {
    color: #222222;
}

.textArea {
    margin-bottom: 10px;
    padding-bottom: 10px;

    color: #e1e3e6;

    border: 2px #333333 solid;
    border-radius: 4px;
    background: #222222;
    resize: none;
}

.textArea:focus {
    outline: none;
}

.btn {
    padding: 5px 10px;

    color: #e1e3e6;

    border: 0;
    border-radius: 5px;
    background: #656565;
}

.btn:hover {
    background: #555555;
}
